<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar fixed-top" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Homepage</a>
      {{#if logged_in}}
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <button id="logout" class="btn btn-outline-danger">Logout</button>
      {{else}}
        <button class="btn btn-outline-light" onclick="location.href='/login'">Login</button>
      {{/if}}
    </div>
  </nav>
  <br>
  <br>
  <br>
  {{{body}}}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>
