<div class="bg">
  <h1>Colin's Tech Blog</h1>
  <h3>
    <div>
    Previously Posted Blogs:
    </div>
  </h3>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 bg card" style="width: 50rem;">
        <div class="card-body">
          {{#each blogs}}
          <div class="card-header">
            <h3>{{this.title}}</h3>
          </div>
          <div>
            <p>{{this.bloginfo}}</p>
            <p>Posted by {{this.user.username}} on {{this.created_at}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>