{{!-- <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
  --}}
  <div class="card bg">
    <div class="card-body">
      <h3>Login</h3>
      <form id="login-form" method="POST">
        <div>
          <input type="text" id="username-login" placeholder="Username" required>
        </div>
        <div>
          <input type="password" id="password-login" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
      </form>

<br>

      <h3>Signup</h3>
      <form id="signup-form" method="POST">
        <div>
          <input type="text" id="username-signup" name="username" placeholder="Username">
        </div>
        <div>
          <input type="password" id="password-signup" name="password" placeholder="Password">
        </div>
        <div>
          <button type="submit">Signup</button>
        </div>
      </form>

    </div>
  </div>

</div>

<script src="/js/login.js"></script>